body{
    background-image: url(https://fotografias-neox.atresmedia.com/clipping/cmsimages01/2020/05/19/30C1E9AC-A53D-4398-9CC2-7D0278F1CC46/98.jpg?crop=1920,1080,x0,y0&width=1900&height=1069&optimize=high&format=webply);
    background-size: cover;
    font-family: Arial, Helvetica, sans-serif;
}

#bienvenida{
    text-align: center;
    margin-top: 20px;
    display: inline;
}

.botones{
    margin-top: 20px;
    padding: 15px;
    border-radius: 50%;
    background-color: transparent;
    border-style: ;
}

.inputDatos{
    padding-left: 65px;
    padding-right: 45px;
    padding-top: 15px;
    padding-bottom: 15px;
    background-color: transparent;
}


/* Estilos caculadora*/

header{
    text-align: center;
}

#cantidadDeposito{
    padding: 25px;
}

#cuenta{
    display: inline;
}

.botones{
    padding: 15px;
}



#bienvenida2{
    text-align: center;
    margin-top: 40px;
    padding-left: 400px;
    padding-right: 400px;
}

#calculadora{
    margin-top: px;
}

#banca {
    border: 1px solid rgb(0, 0, 0);
    display: flex;
    flex-direction: column;
    /*align-self: center;*/
  }
  .bancad {
    display: flex;
    /* flex-direction: column; */
    align-items: center;
    justify-content: center;
    padding: 10px;
  }

  .pantalla {
    display: flex;
    /* flex-direction: column; */
    align-items: center;
    justify-content: center;
    padding: 10px;
    border: 1px solid rgb(0, 0, 0);
  }

  .numes {
    display: flex;
    /*justify-content: space-between;*/
    /*border: 1px solid black;*/
    /*border-left: none;
    border-right: none;*/
  }
  .numes div {
    width: 70%;
    margin: 10px;
    /*text-align: center;*/
    /*border-right: 1px solid black;*/
  }

  button {
    transition-duration: 0.4s;
  }
  
  button:hover {
    background-color: #1d241e; /* Green */
    color: white;
  }

 .botonc{
        padding: 35px;
        border-radius: 50%;
        background-color: transparent;
        transition-duration: 0.4s;
}

.botonc:hover{
    background-color: #1d241e; /* Green */
    color: white;
}